body {
    background-color: black;
    height: 100%;
    width: 100%;
    margin: 0;
}

#header, #footer {
    position: absolute;
    overflow: hidden;
    left: 0;
    right: 0;
}

#header {
    background: linear-gradient(#e36200, #722417);
    height: 10%;
    top: 0;
}

#footer {
    height: 20%;
    bottom: 0;
}

#header img, #footer img {
    width: 100%;
    height: 100%;
}

#content {
    top: 10%;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    overflow: auto;
}

#product_list {
    height: 100%;
    width: 100%;
    position: relative;
}

.product_data {
    min-height: 40%;
    width: 60%;
    margin: 5%;
    align-self: start;
    position: relative;
    background-color: #631500;
}

* {
    color: white;
    text-align: center;
    font-family: Bahnschrift;
}