html {
    text-align: center;
    vertical-align: middle;
    font-family: Papyrus, fantasy;
}

body {
    background-color: black;
    background-image: url("../site_img/skulls.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    min-height: 720px;
    min-width: 1280px;
    margin: 0;
}

#header, #footer {
    position: fixed;
    overflow: visible;
    left: 0;
    right: 0;
}

#header_text, #footer_text {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

#header {
    background: linear-gradient(#966c4a, #e5be91, #654831);
    height: 6rem;
    top: 0;
    filter: drop-shadow(0px 1rem 2rem rgb(55, 28, 10));
    z-index: 1;
}

#header_text {
    top: -1rem;
    font-size: 3rem;
    text-shadow: 0 0 5px #ffffff;
    animation: glow 1s infinite alternate;
    color: rgb(143, 6, 6);
}

@keyframes glow {
    to {
        text-shadow: 0 0 10px #770505;
    }
}

#exit_button, #account_button, #main_page_button {
    position: absolute;
    top: 2rem;
    right: 1rem;
    height: 2rem;
    width: 12rem;
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.5rem;
}

#exit_button {
    right: 1rem;
}

#account_button, #main_page_button {
    left: 1rem;
}

#main_page_button {
    width: 10rem;
}

#footer {
    height: 12rem;
    bottom: 0;
    overflow: visible;
}

#footer img {
    width: 100%;
    height: 100%;
    filter: drop-shadow(0px -2rem 2rem rgba(175, 99, 28, 0.4));
}

#footer_text, #footer_subtext {
    color: white;
    margin: 0;
    text-shadow: 0 0 10px black;
    cursor: pointer;
    text-decoration: transparent;
}

#footer_text {
    bottom: 2rem;
    font-size: 3rem;
}

#footer_subtext {
    position: relative;
    bottom: 4rem;
    font-size: 2rem;
}

#content, #content_flex {
    min-width: 120rem;
    top: 6rem;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    overflow: auto;
    color: white;
}

#content_flex {
    display: flex;
    flex-wrap: wrap;
}

#product_list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.product_data, #seller_extended_data_user_page {
    height: 35rem;
    width: 120rem;
    margin: 2% 0 2% 7%;
    position: relative;
    box-sizing: border-box;
    background-color: rgb(79, 44, 35);
    background-clip: padding-box;
    border: 100px solid transparent;
    border-image: url('../site_img/bone_border.png') 34% round;
    flex-basis: 55%;
}

#seller_extended_data_user_page {
    height: 40rem;
    margin: 2% 7% 2% 0;
}

.product_title {
    float: right;
    width: 50%;
    text-align: center;
    font-size: 1.5rem;
    transform: translate(-10%);
}

.product_description {
    margin: 0 3.5rem 0 0;
    transform: translate(-2%);
    float: right;
    width: 25rem;
    height: 12.5rem;
    overflow: scroll;
}

.product_price {
    float: left;
    margin: 0;
    font-size: 2rem;
    color: #e4c770;
    animation: price_gradient 3s cubic-bezier(.61,0,.39,1) infinite;
    width: 15rem;
    overflow: scroll;
    text-align: left;
}

.product_amount_label {
    font-size: 1.5rem;
    position: relative;
    top: 0.5rem;
    right: 1rem;
}

.product_amount_picker {
    color: white;
    font-family: inherit;
    float: right;
    margin: 0;
    font-size: 2rem;
    width: 7rem;
    background: transparent;
    border: none;
    right: 2rem;
    position: relative;
}

.product_add_to_cart_button, .single_page_pay {
    width: 12rem;
    color: white;
    cursor: pointer;
    position: relative;
    font-family: inherit;
    box-sizing: content-box;
    background-clip: padding-box;
}

.product_add_to_cart_button {
    float: right;
    margin: 0;
    font-size: 2rem;
    border: 20px solid transparent;
    border-image: url('../site_img/bone_border.png') 34% fill;
    top: 0.1rem;
    right: 11rem;
    background-color: rgb(79, 44, 35);
}

@keyframes price_gradient {
    50% {
        color: goldenrod;
        text-shadow: 0 0 6px gold;
    }
    100% {
        color: #e4c770;
    }
}

.seller_image, .product_image, #seller_image_user_page {
    margin: 1rem 1rem;
    border: 20px solid transparent;
    border-image: url('../site_img/bone_border.png') 34% fill;
}

.seller_image {
    height: 15rem;
    width: 15rem;
}

#seller_image_user_page {
    height: 20rem;
    width: 20rem;
}

.product_image {
    height: 18rem;
    width: 18rem;
    float: left;
}

.seller_data, #seller_data_user_page {
    height: 35rem;
    width: 40rem;
    margin: 2% 0 2% 1%;
    position: relative;
    box-sizing: border-box;
    background-color: rgb(79, 44, 35);
    background-clip: padding-box;
    border: 100px solid transparent;
    border-image: url('../site_img/bone_border.png') 34% round;
    flex-basis: 30%;
}

#seller_data_user_page {
    margin: 2% 0 2% 7%;
    height: 40rem;
}

.seller_title, #seller_email_user_page {
    font-size: 1.5rem;
    position: relative;
    display: inline-block;
    max-width: 18rem;
    color: white;
    text-decoration: none;
    margin: 0 auto 0 auto;
    bottom: 1rem;
    overflow: scroll;
}

.seller_title:hover {
    animation: glow_red 1s infinite alternate;
    cursor: pointer;
}

@keyframes glow_red {
    to {
        color: #ff2222;
        text-shadow: 0 0 5px #000000;
    }
}

.single_page_container, .error_overlay, .success_overlay {
    height: 100%;
    min-height: 60rem;
    width: 100%;
    min-width: 110rem;
    position: absolute;
    background: linear-gradient(100deg, #966c4a, #e5be91, #654831);
    background-clip: padding-box;
    border: 10rem solid transparent;
    border-image: url('../site_img/bone_border.png') 34% round;
    box-sizing: border-box;
}

.error_overlay, .success_overlay {
    text-indent: 200rem;
    white-space: nowrap;
    overflow: hidden;
}

.error_overlay {
    filter: contrast(100) grayscale(0.7);
}

.single_page_title, .single_page_subtitle, .error_text, .single_page_nav {
    color: rgb(143, 6, 6);
}

.single_page_title {
    font-size: 3rem;
    text-shadow: 0 0 5px #ffffff;
    animation: glow 1s infinite alternate;
}

.single_page_subtitle {
    transform: translate(0, -40%);
}

.single_page_subtitle, .error_text, .single_page_nav {
    font-size: 2rem;
}

.single_page_nav {
    position: relative;
    text-decoration: transparent;
    margin: 0 1.5rem;
    bottom: -20rem;
}

.single_page_coin_title {
    margin: 0 0;
    font-size: 3rem;
    color: #806000;
    animation: price_gradient_mod 2.2s cubic-bezier(.61,0,.39,1) infinite;
}

@keyframes price_gradient_mod {
    50% {
        color: goldenrod;
        text-shadow: 0 0 6px gold;
    }
    100% {
        color: #806000;
    }
}

#single_page_form {
    font-size: 1.5rem;
    color: #000000;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -30%);
    width: 15rem;
}

.single_page_input {
    text-align: center;
    background: transparent;
    font-family: inherit;
    font-size: 1rem;
    border: transparent;
}

.single_page_submit, .single_page_pay {
    background: transparent;
    font-family: inherit;
    border: transparent;
    font-size: 1.5rem;
    color: #000000;
    cursor: pointer;
}

.single_page_pay {
    top: 2rem;
    transform: translate(-5%);
    height: 6rem;
    font-size: 4rem;
    background: #806000;
    text-shadow: 0 0 10px white;
    border: 40px solid transparent;
    border-image: url('../site_img/bone_border.png') 35% stretch;
    animation: price_gradient_mod_bg 2.2s cubic-bezier(.61,0,.39,1) infinite;
    filter: drop-shadow(0 0 4rem rgb(255, 255, 255));
}

@keyframes price_gradient_mod_bg {
    50% {
        background: goldenrod;
        background-clip: padding-box;
    }
    100% {
        background: #806000;
        background-clip: padding-box;
    }
}

.error_title, .error_subtitle, .success_title {
    position: relative;
    margin: 0;
    bottom: -20rem;
    text-shadow: 0 0 10px cornsilk;
}

.success_title {
    font-size: 3rem;
    animation: glow 1s infinite alternate;
    color: rgb(143, 6, 6);
}

.error_title, .error_subtitle {
    animation: glow 0.25s infinite alternate;
    color: black;
}

.error_subtitle {
    font-size: 3rem;
}

.error_title, .success_title {
    font-size: 4rem;
}

#seller_name_user_page, #seller_quote_user_page, #seller_about_me_user_page {
    font-size: 2rem;
    color: white;
    position: relative;
    text-align: center;
    margin-bottom: 0;
}

#seller_quote_user_page, #seller_about_me_user_page {
    font-size: 1.5rem;
}

#seller_name_user_page {
    font-weight: bold;
}

#seller_email_user_page, #seller_quote_user_page, #seller_name_user_page {
    overflow-x: scroll;
    white-space: nowrap;
}

#seller_quote_user_page {
    font-style: italic;
    height: 2.5rem;
    width: 50rem;
    margin: 1.5rem auto 0 auto;
}

#seller_about_me_user_page {
    margin: 2rem 3rem;
    overflow: scroll;
    height: 14rem;
}
