<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/styles.css}">
  <title>Cart - Monster Master</title>
</head>

<body>
<header id="header">
  <h1 id="header_text">Welcome to Monster Master!</h1>
  <a id="exit_button" th:href="@{/logout}">Exit the Domain</a>
  <a id="account_button" th:href="@{/users/{uuid}(uuid=${#authentication.principal.user.uuid})}">Your Reflection</a>
</header>

  <footer id="footer">
    <img th:src="@{/site_img/fireline.gif}" alt="Cool fire gif">
    <a id="footer_text" th:href="@{/checkout}">Proceed to payment!</a>
    <a id="footer_subtext" th:href="@{/checkout}">Everything comes at a price...</a>
  </footer>
</body>

</html>