<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/styles.css}">
  <title>Monster Master</title>
</head>

<body>
  <header id="header">
    <h1 id="header_text">Welcome to Monster Master!</h1>
  </header>

  <div id="content">
    <div id="product_list">
      <th:block th:each="product : ${products}">
        <div id="product_data" th:text="${product.name}">Product Name</div>
        <div id="seller_data" th:text="${product.shopUser.username}">Seller Username</div>
      </th:block>
    </div>
    <div style="min-height: 10rem"></div>
  </div>

  <footer id="footer">
    <img th:src="@{/site_img/fireline.gif}" alt="Cool fire gif">
    <p id="footer_text">Hellish Beings!</p>
  </footer>
</body>

</html>