<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/styles.css}">
  <title>Monster Master</title>
</head>

<body>
  <header id="header" title="header">
    <h1>Welcome to Monster Master!</h1>
  </header>

  <div id="content" title="content">
    <div id="product_list" title="product_list">
      <th:block th:each="product : ${products}">
        <div class="product_data" title="product_data" th:text="${product.name}">Product Name</div>
      </th:block>
    </div>
  </div>

  <footer id="footer" title="footer">
    <img th:src="@{/site_img/fireline.gif}" alt="Cool fire gif">
    <div>Hellish Beings!</div>
  </footer>
</body>

</html>